
body{
    background-color: lavender;

}

.headingclass {
    background-color: #bf97ab82;
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: #56272f;
    display: block;
    margin: 0;
    padding: 0;

    list-style-type: none;
}
li{
    float: left;
}
.navbar li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 10px 10px 10px;
    margin-left: 1em;
}
.footerlinks li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 0px 0px 0px 0px;
    margin-left: 2em;
}
li a:hover{
    background-color: black;
    color: white;
}
footer{
    position: fixed;
    background-color: #56272f;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footerlinks {
    display: block;

    list-style-type: none;
    text-align: center;
}
table th{
    background-color: darkblue;
    color: white;
}
