{% extends "Product_Info/baselayout.html" %}
{% load static %}
{% block title %}
    <title>Add Category</title>
{% endblock %}

{% block content %}
<div class="container" align="center">
<form action="" method="post" class="jumbotron" style="width: 50%">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary">
</form>
</div>
{% endblock %}