{% extends "Product_Info/baselayout.html" %}
{% block title %}
    <title>Add Product</title>
{% endblock %}
{% block content %}
hello from addprod
<form action="" method="post" class="jumbotron">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">
</form>
{% endblock %}
