{% extends "Product_Info/baselayout.html" %}
{% block title %}
    <title>All Category</title>
{% endblock %}
{% block content %}
hello from allcat
<table border="2">
<tr>
      <th> Product Category</th>
</tr>

{% for c in cat %}
    <tr>
    <td>{{c.prod_category}}</td>


    </tr>
{% endfor %}

</table>
{% endblock %}