{% extends "Product_Info/baselayout.html" %}
{% block title %}
    <title>All Products</title>
{% endblock %}
{% block content %}
hello from allproducts
<table border="2">
<tr>
    <td>Product Name</td>
    <td>Product Code</td>
    <td>Product Price</td>
    <td>Product Manufacture Date</td>
    <td>Product Expiry Date</td>
    <td>Product Owner</td>
    <td>Product Status</td>
    <td>Product Category</td>
    <td>Update</td>
    <td>Delete</td>
</tr>

{% for p in prod %}
    <tr>
    <td>{{p.prod_name}}</td>
    <td>{{p.prod_code}}</td>
    <td>{{p.prod_price}}</td>
    <td>{{p.manu_date}}</td>
    <td>{{p.exp_date}}</td>
    <td>{{p.prod_owner}}</td>
    <td>{{p.Prod_status}}</td>
    <td>{{p.prod_category}}</td>
    <td><a href="{% url 'update' p.id %}"> <button class="btn btn-primary">Update</button></a></td>
    <td><a href="{% url 'delete' p.id %}"> <button class="btn btn-danger">Delete</button></a></td>
    </tr>
{% endfor %}

</table>
{% endblock %}