{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Give Title</title>
    {% endblock %}
     <link rel="stylesheet" href="{% static 'Product_Info/css/style.css' %}">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1 class="headingclass">AcquaintSoft</h1>

        <ul class="navbar">
            <li class="nav-item"><a href="/product/h">Home</a></li>
            <li class="nav-item"><a href="/product/a">About</a></li>
            <li class="nav-item"><a href="/product/p">Policies</a></li>
            <li class="nav-item"><a href="/product/f">Feedback</a></li>
            <li class="nav-item"><a href="/product/c">Contact</a></li>
            <li class="nav-item"><a href="/product/addprod">Add Product</a></li>
            <li class="nav-item"><a href="/product/allprod">All Product</a></li>
            <li class="nav-item"><a href="/product/addcat">Add Category</a></li>
            <li class="nav-item"><a href="/product/allcat">All Category</a></li>
            {% if user.is_authenticated %}
            <li><a class="nav-link" href="{% url 'logout1' %}">Logout</a></li>
            <li><a class="nav-wel" href="#">Welcome {{user.username}}</a></li>

            {% else %}
            <li><a class="nav-link" href="{% url 'reg' %}">Registration</a></li>
            <li><a class="nav-link" href="{% url 'log' %}">Login</a></li>
            {% endif %}

        </ul>

    </header>
    <br>
    {% block content %}
        <h3>write code for specific code here..</h3>
    {% endblock %}

<br>
<footer>

    <h6>Send Email To: <a href="mailto:kajalhase40@gmail.com">Kajal Hase.</a></h6>
    <h6>Copyright © 2021</h6>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
