{% extends "Product_Info/baselayout.html" %}
{% block title %}
    <title>Delete</title>
{% endblock %}

{% block content %}
    {{prod.prod_name}}
    <h3>You Really want to delete this order of {{prod.prod_name}}?????</h3>
    <a href="{% url 'allprod' %}">
        <button class="btn btn-success">Cancel</button></a>

    <form method="post">
        {% csrf_token %}

        <a href="{% url 'delete' prod.id %}">
            <input type="submit"  value="Delete" class="btn btn-danger"></a>
    </form>
{% endblock %}
