{% extends "Product_Info/baselayout.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Login Page</title>
{% endblock %}

{% block content %}
<div class="container" align="center">
<h5>Login Page:</h5>
<form action="" method="post" class="jumbotron" style="width: 35%;">
        {% csrf_token %}
        UserName:
        <input type="text" name="uname"><br><br>
        Password:
        <input type="password" name="pw"><br><br>
        <input type="submit" value="Login" class="btn btn-primary">
        <br><br>
        {% for msg in messages %}
        <h5 style="color: red">{{msg}}</h5>
        {% endfor %}
</form>
</div><br><br>
{% endblock %}