{% extends "Product_Info/baselayout.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Registration Page</title>
{% endblock %}

{% block content %}
<h5>Registration Page:</h5>
<form action="" method="post" class="jumbotron" style="width: 50%">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit">
</form>
{% endblock %}