{% extends "Product_Info/baselayout.html" %}
{% block title %}
    <title>Update Product</title>
{% endblock %}
{% block content %}
hello from update Products.
<form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">
</form>
{% endblock %}
